<form method="POST" action="/new">
  <label for="author"
    >Author:
    <input name="author" type="text" id="author" />
  </label>
  <label for="message"
    >Message:
    <input name="message" type="text" id="message" />
  </label>
  <button type="submit">Submit</button>
</form>
